{% extends "base.html" %}

{% block content %}

<div class="row mb-3">
	<div class="col-8">
		<h4>
			Provider clients
			<a class="btn btn-light" href="{{ url_for('client.add_client_view')}}">
				<i class="bi bi-plus-circle"></i>
			</a>
		</h4>
	</div>
	<div class="col-4 text-end">
		{% include 'search_form.html' %}
	</div>
</div>
<div class="row">
	<div class="col-12">
		<table class="table">
			<thead>
			<tr>
				<th scope="col">Client name</th>
				<th scope="col" class="text-end">Peers</th>
			</tr>
			</thead>
			<tbody>
			{% for clients_id, client_name, peers_count in clients %}
			<tr>
				<td><a href="{{ url_for('client.client_view', client_id=clients_id) }}">{{ client_name }}</a></td>
				<td class="text-end"><span class="badge text-bg-primary">{{ peers_count or '' }}</span></td>
			</tr>
			{% else %}
			<tr>
				<td colspan="100%" class="text-center text-muted">Empty</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}