{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-6">
		<h4>Provider clients</h4>
	</div>
	<div class="col-6 text-end">
		<a class="btn btn-primary" href="{{ url_for('client.add_client')}}">Add new</a>
	</div>
</div>
<div class="row">
	<div class="col-6">
		<table class="table">
			<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Total peers</th>
			</tr>
			</thead>
			<tbody>
			{% for client in clients %}
			<tr>
				<td><a href="{{ url_for('client.client', client_id=client.id) }}"> {{ client.name }}</a></td>
				<td>{{ client.total_peers }}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}