{% extends "base.html" %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}

<div class="row">
	<div class="col-6">
		<h4>Provider peers</h4>
	</div>
	<div class="col-6 text-end">
		<a class="btn btn-primary" href="{{ url_for('peer.add_peer_view')}}">Add new</a>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<table class="table">
			<thead>
			<tr>
				<th scope="col">AS</th>
				<th scope="col">ASSET</th>
				<th scope="col">Client</th>
				<th scope="col">Remark</th>
				<th scope="col">Current prefixes</th>
				<th scope="col">New prefixes</th>
				<th scope="col">Prefixes to delete</th>
				<th scope="col">Config</th>
			</tr>
			</thead>
			<tbody>
			{% for id, asn, asset, client_name, remark, current, new, todelete in peers %}
			<tr>
				<td><a href="{{ url_for('peer.peer_view', peer_id=id) }}">{{ asn }}</a></td>
				<td>{{ asset or '' }}</td>
				<td>{{ client_name or '' }}</td>
				<td>{{ remark }}</td>
				<td class="text-center"><span class="badge text-bg-primary">{{ current or '' }}</span></td>
				<td class="text-center"><span class="badge text-bg-success">{{ new or '' }}</span></td>
				<td class="text-center"><span class="badge text-bg-danger">{{ todelete or '' }}</span></td>
				<td><a class="btn btn-sm btn-warning" href="{{ url_for('peer.peer_config_view', peer_id=id)}}">Config</a></td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}