{% extends "base.html" %}

{% block content %}

<h4>Peer settings</h4>
<div class="row">
	<div class="col-6">
		{% include 'peer/peer_form.html' %}
	</div>

	<div class="col-6">
		<table class="table">
			<thead>
			<tr>
				<th scope="col">Current prefixes
					<span class="badge text-bg-primary">{{ peer_prefixes['current'] | length or '' }}</span>
				</th>
				<th scope="col">New prefixes
					<span class="badge text-bg-success">{{ peer_prefixes['new'] | length or '' }}</span>
				</th>
				<th scope="col">Prefixes to delete
					<span class="badge text-bg-danger">{{ peer_prefixes['todelete'] | length or ''}}</span>
				</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>
					{% for prefix in peer_prefixes['current'] %}
						<a href="{{ url_for('prefix.prefix_view', prefix_id=prefix.id) }}">{{ prefix }}</a><br>
					{% endfor %}
				</td>
				<td>
					{% for prefix in peer_prefixes['new'] %}
						<span class="text-success">{{ prefix }}</span> <br>
					{% endfor %}
				</td>
				<td>
					{% for prefix in peer_prefixes['todelete'] %}
						<span class="text-danger">{{ prefix }}</span> <br>
					{% endfor %}
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

{% endblock %}