{% extends "base.html" %}

{% block content %}

<h4>Peer settings</h4>
<div class="row">
	<div class="col-6">

		<form method="POST">
			{{ form.hidden_tag() }}
			<div class="mb-3">
				{{ form.asn.label }}
				{{ form.asn }}
				{% if form.asn.errors %}
					{% for error in form.asn.errors %}
						<p class="text-danger">{{ error }}</p>
					{% endfor %}
				{% endif %}
			</div>
			<div class="mb-3">
				{{ form.asset.label }}
				{{ form.asset }}
			</div>
			<div class="mb-3">
				{{ form.remark.label }}
				{{ form.remark }}
			</div>
			<div class="mb-3">
				{{ form.client.label }}
				{{ form.client }}
			</div>
			<div class="mb-3">
				{{ form.submit }}
			</div>
		</form>
	</div>

	<div class="col-6">
		<h5>Client prefixes:</h5>
		{% for prefix in peer.prefixes %}
			<a href="{{ url_for('prefix_view', prefix_id=prefix.id) }}">{{ prefix }}</a><br>
		{% endfor %}
	</div>

</div>

{% endblock %}