<!doctype html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page_title }}</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	</head>
	<body>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

		{% include 'menu.html' %}

		<div class="container mt-3">

			{% for cat, message in get_flashed_messages(True) %}
				{% if cat == 'error' %}
					<div class="alert alert-danger" role="alert">{{ message }}</div>
				{% elif cat == 'success' %}
					<div class="alert alert-success" role="alert">{{ message }}</div>
				{% else %}
					<div class="alert alert-primary" role="alert">{{ message }}</div>
				{% endif %}
			{% endfor %}

			{% block content %}{% endblock %}

		</div>
		<div class="container">
			<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">

				<p class="col-md-4 mb-0 text-muted">© 2022 Natalia Bobkova</p>

<!--				<ul class="nav col-md-4 justify-content-end">-->
<!--					<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>-->
<!--				</ul>-->

			</footer>
		</div>
	</body>
</html>