<nav class="navbar navbar-expand-lg bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Provider RIPE DB</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					{% if page == 'clients' %}
					<a class="nav-link active" aria-current="page" href="{{ url_for('client.clients_view') }}">Clients</a>
					{% else %}
					<a class="nav-link" aria-current="page" href="{{ url_for('client.clients_view') }}">Clients</a>
					{% endif %}
				</li>
				<li class="nav-item">
					{% if page == 'peers' %}
					<a class="nav-link active" aria-current="page" href="{{ url_for('peer.peers_view') }}">Peers</a>
					{% else %}
					<a class="nav-link " aria-current="page" href="{{ url_for('peer.peers_view') }}">Peers</a>
					{% endif %}
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Diff config</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Provider prefixes</a>
				</li>
			</ul>
			<form class="d-flex" role="search">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>