<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ page_title }}</title>
	</head>
	<body>
		<div class="container">
			<h1>{{ page_title }}</h1>
			<form method="POST">
				{{ form.hidden_tag() }}
				<p>
					{{ form.asn.label }} <br>
					{{ form.asn }}
				</p>
				<p>
					{{ form.asset.label }} <br>
					{{ form.asset }}
				</p>
				<p>
					{{ form.client.label }} <br>
					{{ form.client }}
				</p>
				<p>
					{{ form.submit }}
				</p>
				{% for prefix in peer.prefixes %}
				<a href="{{ url_for('prefix_view', prefix_id=prefix.id) }}">{{ prefix }}</a><br>
				{% endfor %}
			</form>
		</div>
	</body>
</html>